In [15]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [24]:
stSYM = raw_input("Enter the stock symbol: ")

Enter the stock symbol: CSCO
CSCO

In [25]:
STOCK = wb.DataReader(stSYM, data_source='yahoo', start='2005-1-1')

In [27]:
print "Last values as a sanity check" 
STOCK.tail()

Last values as a sanity check

                 Open       High        Low      Close  Adj Close      Volume
Date
2018-01-26  42.150002  42.560001  41.950001  42.560001  42.560001  23380400.0
2018-01-29  42.299999  42.980000  42.299999  42.849998  42.849998  23625900.0
2018-01-30  42.689999  42.860001  41.970001  42.250000  42.250000  28993900.0
2018-01-31  41.980000  42.009998  41.349998  41.540001  41.540001  35776700.0
2018-02-01  41.090000  42.110001  40.669998  41.700001  41.700001  22086867.0

In [ ]:
STOCK['simple_return'] = (STOCK['Close'] / STOCK['Close'].shift(1)) - 1
print MSFT['simple_return']